# speech to text and text to speech
realtimestt==0.3.104
coqui-tts[all]==0.27.0  # upgraded to fix XTTS `_validate_model_class` error
transformers>=4.41.0

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai

# macos
py-cpuinfo
deepspeed
